/*   
	Client Name: MAIRUWA
	Client URI: http://www.mairuwa.com/
	Author: @udezekene
	Author URI: http://twitter.com/udezekene
	Version: 1.1
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
font-family:Corbel,Arial,Helvetica,sans-serif;
font-size:13px;
line-height:18px;
color:#424242;
background:#f0f0f0;
}
a{
text-decoration:none;
}

#container{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}
#content{
width:960px;
margin:0 auto;
margin-top:0px;
position:relative;
}
#ready img{
float:left;
}
h1{
text-indent:-9999px;
}
.left, .intro, .tuned, .left h1, .intro h1, .tuned h1{
text-indent:-9999px;
}
#ready .intro{
display:block;
background: url(img/header.png) no-repeat;
height:120px;
position:relative;
left:300px;
}
#ready .tuned{
display:block;
background: url(img/tuned.png) no-repeat;
height:300px;
position:relative;
left:300px;
top:120px
}
#theform{
position:relative;
left:300px;
width:600px;
height:50px;
top:40px;
}


#theform .inputbox{
float:left;
background:url(img/inputebx.png) no-repeat;
width:260px;
height:47px;
border:none;
padding-left:20px;
font-family:Corbel,Arial,Helvetica,sans-serif;
font-size:30px;
color:#efefef;
position:absolute;
left:200px;
top:0px;
}

#theform .btn{
border:none;
float:left;
background:url(img/go.png) no-repeat;
width:52px;
height:50px;
padding-left:10px;
font-family:Corbel,Arial,Helvetica,sans-serif;
font-size:30px;
color:#efefef;
cursor:pointer;
text-indent:-9999px;
position:absolute;
left:500px;
top:0px;
}
.twitter a{
background:url(img/twitter-follow.png) no-repeat;
width:160px;
height:64px;
padding-left:10px;
font-family:Corbel,Arial,Helvetica,sans-serif;
font-size:30px;
color:#efefef;
cursor:pointer;
text-indent:-9999px;
position:absolute;
left:0px;
top:-15px;
}
#form_response{
width:150px;
height:40px;
position:absolute;
right:-130px;
top:5px;
padding-left:20px;
font-size:12px;
}
.response-waiting {  
    background:url("loading.gif") no-repeat;  
}  
  
.response-success {  
   background:url("tick.png") no-repeat;  
   color:#16B8FF;
}  
  
.response-error {  
   background:url("cross.png") no-repeat;  
   color:red;
} 
.spam{
position:relative;
width:300px;
left:550px;
top:40px;
font-size:11px;
text-align:right;
line-height:13px;
}
#footer{
background:url(img/footer_bg.png) repeat-x;
height:86px;
position:absolute;
bottom:0px;
width:100%;
}
.fc{
width:960px; 
margin:0 auto;
}
.supported, supports{
float:left;
height:60px;
margin-top:14px;
}
.supported{
background:url(img/supported.png) no-repeat;
width:200px;
text-indent:-9999px;
}
.supports img{
position:relative;
top:12px;
}